/* Basic CSS styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 20 px;
    margin:0 ;
    padding: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 300px;
    max-width: 100%;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  
  ul {
    border:transparent;
    padding: 5px;
  }
  

  
 
  